
body {
    font-family: sans-serif;
    padding    : 1em;
}

h1 {
    margin-bottom: 1.5em;
}

.fett {
    font-weight: bold;
}

#bild {
    max-width: 100%;
    height   : auto;
    display  : none;
}

#bild {
    border: none;
}

#bild[src] {
    border: 1px solid black;
}